/* RSVP STYLING */
.rsvp-section {
  height: 95vh;
  display: flex;
  padding: 100px;
  width: 100%;
  background-color: var(--rsvp-bg);
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.rsvp {
  font-weight: bold;
}
.rsvp-text {
  font-size: 25px;
  color: var(--inv-name-color);
}
.rsvp-button {
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 12px;
  background-color: var(--edit-butt-bg-color);
  border-style: none;
  box-shadow: 2px 2px 5px 2px var(--edit-butt-shadow);
}
.rsvp-button:hover {
  color: var(--edit-butt-bg-color);
  background-color: var(--edit-butt-shadow);
  transition: 1s ease;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  -ms-transition: 1s ease;
  -o-transition: 1s ease;
  box-shadow: 0 0 20px 2px var(--edit-butt-bg-color);
}
.bg-modal {
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* position: relative; */
  flex-direction: column;
  z-index: -1;
}
.bg-modal1 {
  width: 100%;
  height: 100%;
  background-color: var(--modal-bg);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* position: relative; */
  flex-direction: column;
}
#submit-button {
  padding: 12px 20px 12px 20px;
  margin-top: 15px;
  font-size: 16px;
  position: relative;
  box-shadow: 1px 1px 1px 1px var(--edit-butt-shadow);
}
a#back-button {
  color: var(--edit-butt-bg-color);
  padding: 15px;
  position: absolute;
}
.rsvp-table-header {
  display: flex;
  position: relative;
  margin: 10px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  color: var(--nav-dd-color);
}
table {
  border: 2px solid white;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  box-shadow: 0 0 5px rgb(255, 255, 255);
  color: aliceblue;
  background-color: #fff;
}
table tr {
  padding: 0.45rem;
}
thead {
  background-color: rgba(134, 135, 141, 0.677);
}
thead th {
  color: #fff;
  font-size: 15px;
  font-variant: small-caps;
}
tbody tr:nth-child(even) {
  background-color: rgb(232, 239, 239);
}
table th,
table td {
  font-size: 18px;
  padding: 5px;
  text-align: center;
}
.rsvp-table {
  position: relative;
  background-color: transparent;
  font-size: 18px;
  overflow: scroll;
  padding: 25px;
  width: -webkit-fill-available;
}
#delete-button {
  margin-top: 5px;
  padding: 0 15px;
  background-color: rgba(241, 193, 193, 0.729);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  /* .rsvp-section{
        height: 80%;
    } */
  .rsvp {
    font-size: 30px;
  }
  .rsvp-text {
    font-size: 20px;
  }
  .invite-date {
    font-size: 25px;
    font-weight: 700;
  }
  .rsvp-button {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .rsvp-section {
    height: 92%;
  }
  .rsvp {
    font-size: 25px;
  }
  .rsvp-text {
    font-size: 18px;
  }
  .invite-date {
    font-size: 20px;
    font-weight: 700;
  }
  .rsvp-button {
    font-size: 18px;
  }
}
@media (max-width: 1036px) {
  table {
    border: 3px solid #fff;
    font-size: 25px;
  }
  table thead tr {
    display: none;
  }
  table tr {
    display: block;
  }
  table th,
  table td {
    padding: 3px;
    border-bottom: none;
  }
  table td {
    text-align: right;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
  }
  table td::before {
    content: attr(data-title) "  ";
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    padding-right: 25px;
  }
}
