* {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
}
body {
  height: 100vh;
  width: fit-content;
}
.light-theme {
  --first-bg-color: #97786d;
  --first-text-color: #dfdfdf;
  --first-button-color: #1d1c1c;

  --nav-bar-color: #ebcbc369;
  --nav-brand-color: #463b35;
  --nav-hover-color: #97786d;
  --nav-dd-bg: #463b35e5;
  --nav-dd-color: #f0f8ff;
  --nav-dd-hover: #a57c6d;
  --inv-bg: #e3d5caaf;
  --inv-name-color: #463b35;
  --abt-us-bg: #c5b3a5;
  --abt-us-color: #302926;
  --loc-bg: #e3d5ca;
  --loc-color: #351700;
  --loc-map-border: #ffffff42;
  --loc-map-bg: #d6ccc242;
  --gal-bg: #ab9086cd;
  --gal-color: #463b35;
  --rsvp-bg: #61473bb5;
  --ftr-bg: #a580738f;

  --edit-butt-bg-color: #ab9086;
  --edit-butt-shadow: #30211a;
  --modal-bg: #3d2e26e6;

  --pic-filter: none;
}

select {
  border: 1px solid #13282b;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-color: #ffffff78;
}

hr {
  height: 55px;
  margin: 0;
  border: 0;
  padding: 0;
  opacity: 100;
}
hr.zero {
  background: linear-gradient(#ffffff, var(--inv-bg));
}
hr.one {
  background: linear-gradient(var(--inv-bg), var(--abt-us-bg));
}
hr.two {
  background: linear-gradient(var(--abt-us-bg), var(--loc-bg));
}
hr.three {
  background: linear-gradient(var(--loc-bg), var(--gal-bg));
}
hr.four {
  background: linear-gradient(var(--gal-bg), var(--rsvp-bg));
}
hr.five {
  background: linear-gradient(var(--rsvp-bg), var(--ftr-bg));
}
/* FORM STYLING */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form-about input,
textarea {
  width: 100%;
  position: relative;
  display: block;
  margin: 0;
  padding: 8px;
  border: 1px solid var(--nav-dd-hover);
  border-radius: 10px;
}
.form-about {
  height: fit-content;
  width: 500px;
  position: absolute;
  background-color: var(--inv-bg);
  border-radius: 20px;
  position: relative;
  padding: 50px;
}
.form-about label {
  display: flex;
}
label {
  color: var(--nav-dd-color);
  padding-top: 5px;
  padding-bottom: 5px;
}
form {
  align-items: center;
  padding: 0 50px;
}
.form-group input,
textarea {
  width: 100%;
  position: relative;
  display: block;
  padding: 8px;
  border: 1px solid var(--nav-dd-hover);
  border-radius: 10px;
}
.form-group {
  height: fit-content;
  width: 500px;
  position: absolute;
  background-color: var(--inv-bg);
  border-radius: 20px;
  position: relative;
  padding: 50px;
}
.others-names {
  display: none;
}
.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: 900;
  color: var(--nav-dd-hover);
  transform: rotate(45deg);
  cursor: pointer;
}
.close:hover {
  color: var(--nav-dd-hover);
  font-weight: bold;
  transition: 0.3s ease;
}
input.invalid {
  border: 1px solid rgb(193, 28, 28);
}
.error-hint {
  font-size: 12px;
  color: rgb(193, 28, 28);
  position: initial;
  background-color: rgba(240, 248, 255, 0.5);
  margin: 5px;
}
::placeholder {
  font-size: 25px;
}
/* RESPONSIVE */
@media (max-width: 768px) {
  #submit-button {
    font-size: 20px;
  }
  ::placeholder {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .form-group {
    height: 550px;
    width: 300px;
  }
  #submit-button {
    font-size: 20px;
    margin-top: 35px;
  }
  ::placeholder {
    font-size: 12px;
  }
}
