/* INVITATION */
.edit-button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 40px;
  border-radius: 12px;
  background-color: #9ab8ba;
  border-style: none;
  box-shadow: 1px 1px 1px 1px #13282b;
}
.edit-button:hover {
  color: #9ab8ba;
  background-color: #13282b;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  box-shadow: 0 0 1px 1px #9ab8ba;
}

.invitation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #a6cfd5;
  width: 100%;
  height: 100vh;
}
.invite-names {
  font-size: 80px;
  font-weight: 900;
  color: #02232c;
  animation: slide_up 1.9s ease;
  -webkit-animation: slide_up 1.9s ease;
}
.invite-text {
  font-size: 35px;
  animation: slide_up 1.2s ease;
  -webkit-animation: slide_up 1.2s ease;
}
.invite-date {
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  color: #02232c;
}
.countdown {
  display: flex;
  font-size: 25px;
  color: #02232c;
  animation: slide_up 0.5s ease-in;
  -webkit-animation: slide_up 0.5s ease-in;
}
.countdown div {
  padding: 20px;
}
.countdown p {
  font-size: 40px;
  font-weight: 600;
}
@keyframes slide_up {
  0% {
    transform: translateY(-500px);
    -webkit-transform: translateY(-500px);
    -moz-transform: translateY(-500px);
    -ms-transform: translateY(-500px);
    -o-transform: translateY(-500px);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
/* RESPONSIVE */
@media (max-width: 768px) {
  .invitation {
    height: 100%;
  }
  .invite-names {
    font-size: 75px;
  }
  .invite-text {
    font-size: 30px;
  }
  .invite-date {
    font-size: 35px;
  }
  .countdown {
    display: flex;
    font-size: 20px;
  }
  .countdown p {
    font-size: 35px;
  }
}
@media (max-width: 576px) {
  .invitation {
    height: 100%;
  }
  .invite-names {
    font-size: 70px;
  }
  .invite-text {
    font-size: 25px;
  }
  .invite-date {
    font-size: 30px;
  }
  .countdown {
    display: flex;
    font-size: 20px;
  }
  .countdown p {
    font-size: 25px;
  }
}
