/* ABOUT-US SECTION */
/* .about-us{
    display: flex;
    align-items: center;
    justify-content: center;
} */
.about-us-container {
  position: relative;
}
.about-us {
  margin: auto;
  width: 100%;
  background: var(--abt-us-bg);
  color: var(--abt-us-color);
  height: 100%;
}
.about-us-text {
  width: 100%;
  height: fit-content;
  position: relative;
  font-size: 18px;
}
.about-text {
  position: relative;
  display: none;
  line-height: 30px;
  align-items: center;
  padding: 0 30px 30px 30px;

  width: 100%;
  text-align: justify;
}
.about-text h4 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 20px;
}
.about-text.active-text {
  display: block;
  animation: moveup 2s linear forwards;
  -webkit-animation: moveup 2s linear forwards;
}
@keyframes moveup {
  0% {
    color: var(--abt-us-bg);
  }
  100% {
    color: var(--abt-us-color);
  }
}
.about-pic {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-image {
  height: 145px;
  width: 145px;
  object-fit: cover;
  border-radius: 50%;
  margin: 25px;
  cursor: pointer;
  padding: 3px;
}
.about-image.active-pic {
  width: 175px;
  height: 175px;
  border: 5px double var(--abt-us-color);
}
/* RESPONSIVE */
@media (max-width: 820px) {
  /* .about-us{
        height: 60vh;
    } */
  .about-us-text {
    font-size: 20px;
  }
  .about-text h4 {
    font-size: 30px;
  }
  .about-text {
    top: 0;
    padding-top: 0;
    line-height: 50px;
  }
  .about-text p {
    margin-top: 40px;
  }
  .about-pic {
    margin-bottom: 20px;
  }
  .about-image {
    height: 100px;
    width: 100px;
  }
  .about-image.active-pic {
    width: 135px;
    height: 135px;
  }
}
@media (max-width: 576px) {
  .about-us {
    height: 100%;
  }
  .about-us-text {
    font-size: 17px;
  }
  .about-text h4 {
    font-size: 25px;
  }
  .about-text {
    top: 0;
    padding-top: 0;
    line-height: 30px;
  }
  .about-text p {
    margin-top: 0px;
  }
  .about-pic {
    margin-bottom: 10px;
  }
  .about-image {
    height: 80px;
    width: 80px;
  }
  .about-image.active-pic {
    width: 100px;
    height: 100px;
  }
}
