.dark-theme {
  --nav-bar-color: #3f424669;
  --nav-brand-color: #0f0f0f;
  --nav-hover-color: #f4f7f9;
  --nav-dd-bg: #3f4246ef;
  --nav-dd-color: #0f0f0f;
  --nav-dd-hover: #d6d6d6;
  --inv-bg: #151517;
  --inv-name-color: #a8a8a8;
  --abt-us-bg: #2a2d2e;
  --abt-us-color: #f2f5f8;
  --loc-bg: #57666880;
  --loc-map-border: #0d0d0e42;
  --loc-map-bg: #25282942;
  --gal-bg: #050505dd;
  --gal-color: #b6bebf;
  --rsvp-bg: #0e0f0f98;
  --ftr-bg: #0a0a0adf;

  --edit-butt-bg-color: #a8a8a8;
  --edit-butt-shadow: #f4f7f9;
  --modal-bg: #f4f7f9e6;
}
.pink-theme {
  --nav-bar-color: #b5d6db69;
  --nav-brand-color: #02232c;
  --nav-hover-color: #6da7b0;
  --nav-dd-bg: #03414be5;
  --nav-dd-color: #f0f8ff;
  --nav-dd-hover: #13282b;
  --inv-bg: #a6cfd5;
  --inv-name-color: #02232c;
  --abt-us-bg: #41818b;
  --abt-us-color: #f2f5f8;
  --loc-bg: #0c627080;
  --loc-map-border: #ffffff42;
  --loc-map-bg: #9ab8ba42;
  --gal-bg: #0c627033;
  --gal-color: #03414b;
  --rsvp-bg: #37616798;
  --ftr-bg: #ffffff;

  --edit-butt-bg-color: #9ab8ba;
  --edit-butt-shadow: #13282b;
  --modal-bg: #13282be6;
}
.orange-theme {
  --nav-bar-color: #b5d6db69;
  --nav-brand-color: #02232c;
  --nav-hover-color: #6da7b0;
  --nav-dd-bg: #03414be5;
  --nav-dd-color: #f0f8ff;
  --nav-dd-hover: #13282b;
  --inv-bg: #a6cfd5;
  --inv-name-color: #02232c;
  --abt-us-bg: #41818b;
  --abt-us-color: #f2f5f8;
  --loc-bg: #0c627080;
  --loc-map-border: #ffffff42;
  --loc-map-bg: #9ab8ba42;
  --gal-bg: #0c627033;
  --gal-color: #03414b;
  --rsvp-bg: #37616798;
  --ftr-bg: #ffffff;

  --edit-butt-bg-color: #9ab8ba;
  --edit-butt-shadow: #13282b;
  --modal-bg: #13282be6;
}
.blue-theme {
  --nav-bar-color: #b5d6db69;
  --nav-brand-color: #02232c;
  --nav-hover-color: #6da7b0;
  --nav-dd-bg: #03414be5;
  --nav-dd-color: #f0f8ff;
  --nav-dd-hover: #13282b;
  --inv-bg: #a6cfd5;
  --inv-name-color: #02232c;
  --abt-us-bg: #41818b;
  --abt-us-color: #f2f5f8;
  --loc-bg: #0c627080;
  --loc-map-border: #ffffff42;
  --loc-map-bg: #9ab8ba42;
  --gal-bg: #0c627033;
  --gal-color: #03414b;
  --rsvp-bg: #37616798;
  --ftr-bg: #ffffff;

  --edit-butt-bg-color: #9ab8ba;
  --edit-butt-shadow: #13282b;
  --modal-bg: #13282be6;
}
.green-theme {
  --nav-bar-color: #b5d6db69;
  --nav-brand-color: #02232c;
  --nav-hover-color: #6da7b0;
  --nav-dd-bg: #03414be5;
  --nav-dd-color: #f0f8ff;
  --nav-dd-hover: #13282b;
  --inv-bg: #a6cfd5;
  --inv-name-color: #02232c;
  --abt-us-bg: #41818b;
  --abt-us-color: #f2f5f8;
  --loc-bg: #0c627080;
  --loc-map-border: #ffffff42;
  --loc-map-bg: #9ab8ba42;
  --gal-bg: #0c627033;
  --gal-color: #03414b;
  --rsvp-bg: #37616798;
  --ftr-bg: #ffffff;

  --edit-butt-bg-color: #9ab8ba;
  --edit-butt-shadow: #13282b;
  --modal-bg: #13282be6;
}
